body {
    background-color: #f0eaea;

    /*font-family: Arial, Helvetica, "Courier New" sans-serif; /*se a 1ª fonte de letarnão funcionar emtão carrega a que se segue e assim por diante; Se uma fonte tiver 2 palavras então ela tem de vir entre aspas*/
    font-family: 'Raleway', sans-serif;

    color: rgb(0, 0, 0);

} 

.foto-principal {
  width: 200px;
  border: 5px solid #FFFFFF; /*1º espessura da borda em pixeis; 2º tipo de borda - sólido; 3º cor da borda - preto; podemos procurar outros tipos de border em "www.w3schools.com */

  /*
  border-width: 5px;
  border-style: solid;
  border-color: black;
  */
  /*tanto se podem escrever 3 linhas de código para cada característica como apenas uma com as mesmas caraterísticas - chama-se "shorthand"*/
  border-radius: 50%; /*arredonda as bordas da classe imagem; pode ser descrito em px ou em %; 50% corresponde a bordas bem arredondadas*/

  /*border-radius: 50% 10% 30% 70%; define pela ordem de escrita a borda do canto superior esquerdo, direito, inferior direito e esquerdo (sentido horário)*/
    
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 500px; /*definindo assim por px a imagem fica fixa mesmo quando se minimiza a tela, o que não se torna adequado*/
  /* margin: 30px 30px 30px 30px;  /* versão short-hand onde são 1º margin top 2º margin right; 3º margin bottom; 4º margin left*/

  padding: 5px; /*na ausência de definição para as outras margins, elas são assumidas com o valor da 1ª*/
  /*padding dá um espaçamento interno enquanto que margin dá um espaçamento externo*/

  box-shadow: 0px 0px 10px #959595; /*4 parâmetros, 1º distância da sombra na horizontal, 2º distância da sombra na vertical; 3º quanto desfoque se quer, 4º cor da sombra*/
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 0;
  letter-spacing:-1px;
  font-size: 40px;
}

h2 {
  margin-top: 0;
  font-style: italic; /*aqui no CSS porque quero dar um efeito visual e não semântico (no index.html)*/
  color:rgb(90 83 83);
  font-weight: 100; /*espessura da linha*/
  letter-spacing:-1px;
}